/Observer Pattern - GUI (threads)/ExamEx-2_Threads/build/
/Observer Pattern - GUI (threads)/ExamEx-2_Threads/nbproject/private/
/Producer Consumer - fibonacci (threads)/consumer-producer-fibonacci/target/